@if (ready) {
  <div data-bs-theme="dark">
    <div class="row blur">
      <div class="col-auto ps-0">
        <button class="btn btn-warning btn-sm" routerLink="/skill-groups">
          <em class="fa-solid fa-chevron-left"></em> Grupos de habilidades
        </button>
      </div>
      <div class="col ps-0">
        <h1 class="text-center">Habilidades de {{skillGroup.name}}</h1>
      </div>
      <div class="col-auto pe-0">
        <button class="btn btn-success btn-sm" (click)="newSkillGroup({skill_group_id: skillGroup.id})">
          <em class="fa-solid fa-plus"></em>
        </button>
      </div>
    </div>
  
    <div class="row blur mt-2">
      <table class="table table-sm blur m-0">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Color</th>
            <th style="width: 75px;"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (item of skillGroup.skills; track item.id; let i = $index) {
            <tr>
              <td>
                <img [src]="item.image" style="height: 31px;">
                <label class="ms-2">{{item.name}}</label>
              </td>
              <td>
                <div class="progress" role="progressbar" style="height: 31px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="'bg-' + item.color" style="width: 100%"></div>
                </div>
              </td>
              <td>
                @if (item.id) {
    
                  <button class="btn btn-sm btn-primary me-1" (click)="newSkillGroup(item, i)">
                    <em class="fa-solid fa-pen"></em>
                  </button>
    
                  <button class="btn btn-sm btn-danger" (click)="delete(item.id, i)">
                    <em class="fa-solid fa-trash"></em>
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}