<nav class="navbar navbar-expand-lg blur fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Profile finder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="flex-grow-1 navbar-nav mx-lg-5">
        <li class="nav-item w-100">
          <form class="d-flex" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nombre del empleado">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar sesión
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Alejandro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Modificar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>