<div class="container rounded py-5">

  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4 col-xl-2">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="blur rounded-circle overflow-hidden">
          <img class="w-100 rounded-circle" src="https://avatars.githubusercontent.com/u/68308333?v=4" alt="Profile">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8 col-xl-10">
      <div class="row g-3">
        <div class="col-12">
          <div class="blur h-100">
            <h1 class="text-center mt-2 fs-2">Alejandro Arelis Olivas</h1>
            <h2 class="text-center">Desarrollador Full Stack</h2>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="blur h-100">
            <h1 class="text-center">Contacto</h1>
            <item-list *ngFor="let item of contactList" [configuration]="item"></item-list>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="blur h-100">
            <h1 class="text-center">Estudios</h1>
            <item-list *ngFor="let item of schoolList" [configuration]="item"></item-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-3 mt-1">
    <div class="col-12 col-lg-4">
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Desarrollo frontend</h1>
            <item-list *ngFor="let item of frontendList" [configuration]="item"></item-list>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Diseño</h1>
            <item-list *ngFor="let item of designList" [configuration]="item"></item-list>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Desarrollo backend</h1>
            <item-list *ngFor="let item of backendList" [configuration]="item"></item-list>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Bases de datos</h1>
            <item-list *ngFor="let item of dbList" [configuration]="item"></item-list>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Lenguajes de programación</h1>
            <item-list *ngFor="let item of programmingLanguagesList" [configuration]="item"></item-list>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-12">
          <div class="blur h-100">
            <h1 class="text-center">Otras herramientas</h1>
            <item-list *ngFor="let item of otherList" [configuration]="item"></item-list>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="row g-3">
        <div class="col-12">
          <div class="blur">
            <h1 class="text-center">Experiencia laboral</h1>
          </div>
        </div>

        <jobs *ngFor="let job of jobsList" [configuration]="job"></jobs>
      
      </div>
    </div>
  </div>
</div>