<div class="row g-1">
  <div class="col-auto" *ngIf="skill.image">
    <img [src]="skill.image" style="width: 20px;">
  </div>
  <div [ngClass]="{'col-auto': !skill.percentage, 'col-4': skill.percentage}">
    <a class="ms-2">{{skill.name}}</a>
    <!--<copy *ngIf="skill.type === 'text'" [value]="skill.text" [type]="'text'"></copy> -->
  </div>
  <!-- <div class="col-auto" *ngIf="skill.type !== 'text'">
    <copy [value]="skill.value!"></copy>
  </div> -->
  <div class="col" *ngIf="skill.percentage">
    <div class="progress" role="progressbar" *ngIf="skill.percentage">
      <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="skill.progress.color" [ngStyle]="{'width': skill.progress.value + '%'}"></div> -->
      <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="'bg-' + skill.color" [ngStyle]="{'width': skill.percentage + '%'}"></div>
    </div>
  </div>
  @if (owner && skill.id) {
    <div class="col-auto m-0">
      <button class="btn btn-danger btn-mini" (click)="delete_skill(skill.id)">
        <em class="fa-solid fa-trash fa-2xs" style="position: absolute; top: 2px; left: 3px;"></em>
      </button>
    </div>
  }
</div>