@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/variables";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @extend .text-light;

  animation: moverDerechaIzquierda 10s linear infinite;
  background-color:$gray-900;
  background-image: linear-gradient(30deg, $gray-800 12%, transparent 12.5%, transparent 87%, $gray-800 87.5%, $gray-800),
  linear-gradient(150deg, $gray-800 12%, transparent 12.5%, transparent 87%, $gray-800 87.5%, $gray-800),
  linear-gradient(30deg, $gray-800 12%, transparent 12.5%, transparent 87%, $gray-800 87.5%, $gray-800),
  linear-gradient(150deg, $gray-800 12%, transparent 12.5%, transparent 87%, $gray-800 87.5%, $gray-800),
  linear-gradient(60deg, $gray-700 25%, transparent 25.5%, transparent 75%, $gray-700 75%, $gray-700),
  linear-gradient(60deg, $gray-700 25%, transparent 25.5%, transparent 75%, $gray-700 75%, $gray-700);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

@keyframes moverDerechaIzquierda {
  0% {
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  }
  100% {
    background-position: 80px 0, 80px 0, 120px 70px, 120px 70px, 80px 0, 120px 70px;
  }
}

a {
  @extend .text-light;
}

p,
label,
h1,
h2,
h3,
h4,
h5,
a,
h6 {
  margin: 0 !important;
  text-shadow: 0 0 2px black;
}

.blur {
  background: rgba(0, 0, 0, 0.5 );
  backdrop-filter: blur(10px);
  @extend .rounded;
  @extend .shadow;
  @extend .p-2;
}

.pointer {
  cursor: pointer;
}

mat-icon {
  font-size: 20px !important;
}

mat-icon.small {
  font-size: 10px !important;
}

.bg-indigo {
  background-color: $indigo;
}

.bg-purple {
  background-color: $purple;
}

.bg-orange {
  background-color: $orange;
}

.bg-pink {
  background-color: $pink;
}

.progress, .progress-stacked {
  background-color: $gray-800 !important;
}

hr {
  margin: 0 !important;
}