<div class="row g-1">
  <div class="col-auto" *ngIf="configuration.icon">
    <mat-icon *ngIf="configuration.icon.type === 'material'">{{configuration.icon.value}}</mat-icon>
    <img *ngIf="configuration.icon.type === 'svg'" [src]="'/assets/icons/' + configuration.icon.value" style="width: 15px;">
  </div>
  <div [ngClass]="{'col-auto': !configuration.progress, 'col-3': configuration.progress}">
    <a *ngIf="configuration.type !== 'text'" [href]="configuration.href">{{configuration.text}}</a>
    <copy *ngIf="configuration.type === 'text'" [value]="configuration.text" [type]="'text'"></copy>
  </div>
  <div class="col-auto" *ngIf="configuration.type !== 'text'">
    <copy [value]="configuration.value!"></copy>
  </div>
  <div class="col" *ngIf="configuration.progress">
    <div class="progress" role="progressbar" *ngIf="configuration.progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="configuration.progress.color" [ngStyle]="{'width': configuration.progress.value + '%'}"></div>
    </div>
  </div>
</div>